@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  cursor: default;
}

a, button, input {
  cursor: pointer;
}

body {
  padding: 50px;
  background-color: whitesmoke;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

em {
  font-style: italic;
}

nav a { font-size: 1.2rem; }
nav form { font-size: .8rem; }

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

form button, form input[type="submit"] {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  /* width: 100%; */
}

form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

nav ul {
  border-bottom: 2px solid #43a3e6;
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

nav li > a + a::before, nav li > a + form::before {
  content: '|';
  font-size: 1.2rem;
  color: #666;
  padding-left: 15px;
  padding-right: 15px;
}

ul li {
  line-height: 20px;
}

#to-right {
  display: flex;
  align-items: center;
  padding: 1em;
}

#logout-form {
  margin: 0;
  padding: 0;
  width: auto;
}

#logout-form button {
  width: auto;
  text-transform: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #00b7ff;
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em;
}

#posts { 
  display: flex;
  justify-content: flex-start;
}

.post, .single-post {
  border: 1px solid #eaeaea;
  margin: 0 auto;
  background-color: white;
}

#comments, #add-comment, #new-post {
  margin: auto;
  padding: 20px;
}

.post {
  width: 30%;
  height: fit-content;
}

.single-post, #comments, #add-comment, #new-post {
  width: 50%;
  margin-bottom: 40px;
}

.post h2, .post .content, .single-post h2, .single-post .content {
  padding: 30px 30px 0 30px;
}

.post .creator, .single-post .creator {
  padding: 15px;
  display: flex;
  align-items: center;
}

.post .creator, .single-post .creator {
  margin-top: 30px;
  color: white  ;
  background-color: cornflowerblue;
}

.post .creator img, .single-post .creator img, #comments img.profile-pic {
  width: 40px;
  height: auto;
  margin-right: 15px;
}

#comments .comment-pic {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-picture {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.author-name {
  display: block;
  margin-bottom: 5px;
  font-size: .9rem;
  color: gray;
}

.comment {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

#add-comment form, #new-post form { width: 100%; }

#add-comment input, #add-comment textarea, #new-post input, #new-post textarea {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  border: 0;
  padding: 15px;
}